<main class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <section class="col-md-8 card">
            <h3 class="card-header text-center">Shopping Cart</h3>
            <div class="card-body text-center">
                <table class="table table-hover table-responsive-sm">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Selected Products</th>
                            <th scope="col">Quantity</th>
                            <th scope="col" class="text-center">Product Price</th>
                            <th scope="col" class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cartItem of cartItems$ | async">
                            <td>{{cartItem.product.title}}
                                <br>
                                <img src="{{cartItem.product.image}}" alt="product image" width="50" height="50">
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="number"
                                           min="0"
                                           class="form-control form-control-sm"
                                           [value]="cartItem.quantity"
                                           (change)="updateQuantity(cartItem, $event.target.value)"/>
                                </div>
                            </td>
                            <td class="text-center">
                                {{cartItem.product.price | currency:"USD"}}
                            </td>
                            <td class="text-center">
                                <button class="btn btn-danger"
                                        (click)="removeItem(cartItem.product.id)">
                                        Remove
                                </button>
                            </td>
                        </tr>
                    </tbody>    
                    <tfoot>
                        <tr class="active">
                            <td colspan="2"></td>
                            <td colspan="1">Total Price:</td>
                            <td class="text-center">
                                {{cartPrice$ | async | currency:"USD"}}
                            </td> 
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="card-footer">
                <button class="btn btn-secondary" routerLink="/store">Go Back To Store</button>
                <button class="btn btn-primary" 
                        routerLink="/checkout" 
                        [disabled]="!(itemCount$ | async) || !(cartPrice$ | async)">
                    Order
                </button>
            </div>
        </section>
        <div class="col-md-2"></div>
    </div>
</main>