
.card {
    margin-top: 1rem;
}

.card img {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.zoom-in-effect {
    transition: transform 0.2s;
}

.zoom-in-effect:hover {
    transform: scale(1.1);
}