<div class="container">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">Action Figure Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
          <ul class="navbar-nav me-auto">
            <li *ngFor="let cat of storeCategories" class="nav-item">
              <a class="nav-link" (click)="changeCategory(cat)">{{cat}}</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Search">
            <button class="btn btn-primary" type="button">Search</button>
          </form>
        </div>
      </div>
  </nav>
  <div class="row">
      <div *ngFor="let product of displayedProducts; let i=index" class="col-md-4">
            <div class="card flex-row">
                <img class="card-img-left" src={{product.image}} alt="card image">
                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <p class="card-text"> {{product.price | currency:"USD"}} </p>                    
                    <a class="btn btn-primary"
                      (click)="addSelectedProductToCart(product)">
                    Add To Cart</a>
                </div>
            </div>
      </div>
  </div>
</div>
