<div class="container">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" (click)="changeCategory()">Ecommerce Store</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#ecommerceStoreNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="ecommerceStoreNavbar">
          <ul class="navbar-nav me-auto">
            <li *ngFor="let cat of storeCategories" class="nav-item">
              <a class="nav-link" (click)="changeCategory(cat)">{{cat}}</a>
            </li>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Search" #searchInput>
            <button class="btn btn-primary" type="button" (click)="getProductByName(searchInput.value)">Search</button>
          </form>
        </div>
      </div>
  </nav>
  <div class="row">
      <div *ngFor="let product of displayedProducts; let i=index" class="col-md-4">
            <div class="card flex-column p-3">
                <img 
                  src="{{product.image}}" 
                  class="card-img-top zoom-in-effect mx-auto"  
                  alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title">{{truncateProductTitle(product.title)}}</h5>
                    <p class="card-text"> Price: {{product.price | currency:"USD"}} </p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="rating">
                        <span *ngFor="let star of generateStarsArray(product.rating.rate); let i=index" class="fa fa-star checked"></span>
                        <span *ngFor="let star of generateStarsArray(5-product.rating.rate); let i=index" class="fa fa-star"></span>
                      </div>
                      <a class="btn btn-primary"
                      (click)="addSelectedProductToCart(product)">
                    Add To Cart</a>
                </div>
            </div>
      </div>
  </div>
</div>
