<div *ngIf="orderSent" class="m-2 text-center">
  <h2>Thanks!</h2>
  <p>Thanks for placing your order.</p>
  <p>We'll ship your goods as soon as possible.</p>
  <button class="btn btn-primary" routerLink="/store">Return to Store</button>
</div>

<div *ngIf="!orderSent" class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <section style="background-color: #92A8D1;">
        <h4 class="text-center">Product delivery</h4>
        <form
          *ngIf="!orderSent"
          (ngSubmit)="submitOrder()"
          [formGroup]="form"
          class="m-2"
        >
          <div class="form-group">
            <label for="name">Name</label>
            <input
              id="name"
              class="form-control"
              type="text"
              formControlName="name"
            />
            <div
              *ngIf="
                form.controls['name'].invalid &&
                (form.controls['name'].dirty || form.controls['name'].touched)
              "
              class="alert alert-danger"
            >
              <div
                *ngIf="
                  form.controls['name'].errors &&
                  form.controls['name'].errors.required
                "
              >
                Please enter a name
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              id="email"
              class="form-control"
              type="email"
              formControlName="email"
            />
            <div
              *ngIf="
                form.controls['email'].invalid &&
                (form.controls['email'].dirty ||
                  form.controls['email'].touched)
              "
              class="alert alert-danger"
            >
              <div
                *ngIf="
                  form.controls['email'].errors &&
                  (form.controls['email'].errors.required || form.controls['email'].errors.email)
                "
              >
                Please enter a valid email
              </div>
            </div>
          </div>        
          <div class="form-group">
            <label for="address">Address</label>
            <input
              id="address"
              class="form-control"
              type="text"
              formControlName="address"
            />
            <div
              *ngIf="
                form.controls['address'].invalid &&
                (form.controls['address'].dirty ||
                  form.controls['address'].touched)
              "
              class="alert alert-danger"
            >
              <div
                *ngIf="
                  form.controls['address'].errors &&
                  form.controls['address'].errors.required
                "
              >
                Please enter an address
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="city">City</label>
            <input
              id="city"
              class="form-control"
              type="text"
              formControlName="city"
            />
            <div
              *ngIf="
                form.controls['city'].invalid &&
                (form.controls['city'].dirty || form.controls['city'].touched)
              "
              class="alert alert-danger"
            >
              <div
                *ngIf="
                  form.controls['city'].errors &&
                  form.controls['city'].errors.required
                "
              >
                Please enter a city
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="country">Country</label>
            <input
              id="country"
              class="form-control"
              type="text"
              formControlName="country"
            />
            <div
              *ngIf="
                form.controls['country'].invalid &&
                (form.controls['country'].dirty ||
                  form.controls['country'].touched)
              "
              class="alert alert-danger"
            >
              <div
                *ngIf="
                  form.controls['country'].errors &&
                  form.controls['country'].errors.required
                "
              >
                Please enter a country
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="notes">Notes</label>
            <textarea
              id="notes"
              class="form-control"
              formControlName="country"
            ></textarea>
            <div
              *ngIf="
                form.controls['notes'].invalid &&
                (form.controls['notes'].dirty ||
                  form.controls['notes'].touched)
              "
              class="alert alert-danger"
            >
              <div
                *ngIf="form.controls['notes'].errors"
              >
                Notes section can not be longer than 300 characters
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-secondary m-1" routerLink="/cart">Back</button>
            <button class="btn btn-primary m-1" type="submit">
              Complete Order
            </button>
          </div>
        </form>
      </section>
    </div>
    <div class="col-md-4">
      <section style="background-color:  #343148">
        <h4 class="text-center">Payment Details</h4>
        <form
          *ngIf="!orderSent"
          (ngSubmit)="submitOrder()"
          [formGroup]="form"
          class="m-2"
        >
          <div class="form-group">
            <label for="name">Card Holder Name</label>
            <input
              id="cardHolderName"
              class="form-control"
              type="text"
              formControlName="cardHolderName"
            />
            <div
              *ngIf="
                form.controls['cardHolderName'].invalid &&
                (form.controls['cardHolderName'].dirty || form.controls['cardHolderName'].touched)
              "
              class="alert alert-danger"
            >
              <div
                *ngIf="
                  form.controls['cardHolderName'].errors &&
                  form.controls['cardHolderName'].errors.required
                "
              >
                Please enter a card holder name
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Card Number</label>
            <input
              id="cardNumber"
              class="form-control"
              type="text"
              formControlName="cardNumber"
            />
            <div
              *ngIf="
                form.controls['cardNumber'].invalid &&
                (form.controls['cardNumber'].dirty || form.controls['cardNumber'].touched)
              "
              class="alert alert-danger"
            >
              <div
                *ngIf="
                  form.controls['cardNumber'].errors &&
                  form.controls['cardNumber'].errors.required
                "
              >
                Please enter a card number
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="cardExpiryDate">Card Expiry Date</label>
            <input
              id="cardExpiryDate"
              class="form-control"
              type="date"
              formControlName="cardExpiryDate"
            />
            <div
              *ngIf="
                form.controls['cardExpiryDate'].invalid &&
                (form.controls['cardExpiryDate'].dirty || form.controls['cardExpiryDate'].touched)
              "
              class="alert alert-danger"
            >
              <div
                *ngIf="
                  form.controls['cardExpiryDate'].errors &&
                  form.controls['cardExpiryDate'].errors.required
                "
              >
                Please enter a card expiry date
              </div>
            </div>
          </div>       
          <div class="form-group">
            <label for="cardSecurityCode">Card Security Code</label>
            <input
              id="cardSecurityCode"
              class="form-control"
              type="text"
              formControlName="cardSecurityCode"
            />
            <div
              *ngIf="
                form.controls['cardSecurityCode'].invalid &&
                (form.controls['cardSecurityCode'].dirty || form.controls['cardSecurityCode'].touched)
              "
              class="alert alert-danger"
            >
              <div
                *ngIf="
                  form.controls['cardSecurityCode'].errors &&
                  form.controls['cardSecurityCode'].errors.required
                "
              >
                Please enter a card security code
              </div>
            </div>
          </div>

        </form>
      </section>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
