<main *ngIf="!submitted" class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="card col-md-6">
        <div class="card-header text-center">
          <h3 >Order Form </h3>
        </div>
        <div class="card-body">
          <section>
            <h4 class="text-center mb-3">Product delivery</h4>
            <form
              (ngSubmit)="submitOrder()"
              [formGroup]="form"
            >
              <div class="form-group mb-3">
                <label for="name">Name</label>
                <input
                  id="name"
                  class="form-control"
                  type="text"
                  formControlName="name"
                  [ngClass]="{ 
                    'valid-field': form.controls['name'].valid
                  }"
                />
                <div
                  *ngIf="
                    form.controls['name'].invalid &&
                    (form.controls['name'].dirty || form.controls['name'].touched)
                  "
                  class="alert alert-danger"
                >
                  <span
                    *ngIf="
                      form.controls['name'].errors &&
                      form.controls['name'].errors.required
                    "
                  >
                    Please enter a name
                  </span>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="email">Email</label>
                <input
                  id="email"
                  class="form-control"
                  type="email"
                  formControlName="email"
                  [ngClass]="{ 
                    'valid-field': form.controls['email'].valid
                  }"
                />
                <div
                  *ngIf="
                    form.controls['email'].invalid &&
                    (form.controls['email'].dirty ||
                      form.controls['email'].touched)
                  "
                  class="alert alert-danger"
                >
                  <span
                    *ngIf="
                      form.controls['email'].errors &&
                      (form.controls['email'].errors.required || form.controls['email'].errors.email)
                    "
                  >
                    Please enter a valid email
                  </span>
                </div>
              </div>        
              <div class="form-group mb-3">
                <label for="address">Address</label>
                <input
                  id="address"
                  class="form-control"
                  type="text"
                  formControlName="address"
                  [ngClass]="{ 
                    'valid-field': form.controls['address'].valid
                  }"
                />
                <div
                  *ngIf="
                    form.controls['address'].invalid &&
                    (form.controls['address'].dirty ||
                      form.controls['address'].touched)
                  "
                  class="alert alert-danger"
                >
                  <span
                    *ngIf="
                      form.controls['address'].errors &&
                      form.controls['address'].errors.required
                    "
                  >
                    Please enter an address
                  </span>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="cityDropdown">Select City</label>
                <select class="form-select" 
                  id="cityDropdown"
                  name="city" 
                  formControlName="city"
                  [ngClass]="{'valid-field': form.controls['city'].valid}"
                >
                  <option *ngFor="let city of cityList" [value]="city">{{ city }}</option>
                </select>
                <div
                  *ngIf="
                    form.controls['city'].invalid &&
                    (form.controls['city'].dirty || form.controls['city'].touched)
                  "
                  class="alert alert-danger"
                >
                  <span
                    *ngIf="
                      form.controls['city'].errors &&
                      form.controls['city'].errors.required
                    "
                  >
                    Please select a city
                  </span>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="notes">Notes</label>
                <textarea
                  id="notes"
                  class="form-control"
                  formControlName="notes"
                  [ngClass]="{ 
                    'valid-field': form.controls['notes'].valid && form.controls['notes'].value.length > 0
                  }"
                ></textarea>
                <div
                  *ngIf="
                    form.controls['notes'].invalid &&
                    (form.controls['notes'].dirty ||
                      form.controls['notes'].touched)
                  "
                  class="alert alert-danger"
                >
                  <span
                    *ngIf="form.controls['notes'].errors"
                  >
                    Notes section can not be longer than 300 characters
                  </span>
                </div>
              </div>
            </form>
          </section>
          <section>
            <h4 class="text-center mb-3">Payment Details</h4>
            <form
              (ngSubmit)="submitOrder()"
              [formGroup]="form"
              class="m-2"
            >
              <div class="form-group mb-3">
                <label for="name">Holder Name</label>
                <input
                  id="cardHolderName"
                  class="form-control"
                  type="text"
                  formControlName="cardHolderName"
                  [ngClass]="{ 
                    'valid-field': form.controls['cardHolderName'].valid
                  }"
                />
                <div
                  *ngIf="
                    form.controls['cardHolderName'].invalid &&
                    (form.controls['cardHolderName'].dirty || form.controls['cardHolderName'].touched)
                  "
                  class="alert alert-danger"
                >
                  <span
                    *ngIf="
                      form.controls['cardHolderName'].errors &&
                      form.controls['cardHolderName'].errors.required
                    "
                  >
                    Please enter a card holder name
                  </span>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="name">Card Number</label>
                <input
                  id="cardNumber"
                  class="form-control"
                  type="text"
                  formControlName="cardNumber"
                  [ngClass]="{ 
                    'valid-field': form.controls['cardNumber'].valid
                  }"
                />
                <div
                  *ngIf="
                    form.controls['cardNumber'].invalid &&
                    (form.controls['cardNumber'].dirty || form.controls['cardNumber'].touched)
                  "
                  class="alert alert-danger"
                >
                  <span
                    *ngIf="
                      form.controls['cardNumber'].errors &&
                      form.controls['cardNumber'].errors.required
                    "
                  >
                    Please enter a card number
                  </span>
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="cardExpiryDate">Expiry Date</label>
                <input
                  id="cardExpiryDate"
                  class="form-control"
                  type="month"
                  formControlName="cardExpiryDate"
                  [ngClass]="{ 
                    'valid-field': form.controls['cardExpiryDate'].valid
                  }"
                />
                <div
                  *ngIf="
                    form.controls['cardExpiryDate'].invalid &&
                    (form.controls['cardExpiryDate'].dirty || form.controls['cardExpiryDate'].touched)
                  "
                  class="alert alert-danger"
                >
                  <span
                    *ngIf="
                      form.controls['cardExpiryDate'].errors &&
                      form.controls['cardExpiryDate'].errors.required
                    "
                  >
                    Please enter a card expiry date
                  </span>
                </div>
              </div>       
              <div class="form-group mb-3">
                <label for="cardSecurityCode">Security Code</label>
                <input
                  id="cardSecurityCode"
                  class="form-control"
                  type="text"
                  formControlName="cardSecurityCode"
                  [ngClass]="{ 
                    'valid-field': form.controls['cardSecurityCode'].valid
                  }"
                />
                <div
                  *ngIf="
                    form.controls['cardSecurityCode'].invalid &&
                    (form.controls['cardSecurityCode'].dirty || form.controls['cardSecurityCode'].touched)
                  "
                  class="alert alert-danger"
                >
                  <span
                    *ngIf="
                      form.controls['cardSecurityCode'].errors &&
                      form.controls['cardSecurityCode'].errors.required
                    "
                  >
                    Please enter a card security code
                  </span>
                </div>
              </div>
              <div class="text-center">
                <button class="btn btn-secondary" routerLink="/cart">Back</button>
              <button class="btn btn-primary" type="submit" [disabled]="!form.valid" routerLink="/order-sent">
                  Complete Order
                </button>
              </div>
            </form>
          </section>
        </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</main>