.card label, h3, h4 {
    color: white;
}

section form button {
    margin: 1rem 0.5rem;
}

.card-header {
    background-color: #34568B;
}

.card-body {
    background-color: #92A8D1;
}

.card-body section .form-group {
    width: 70%;
    margin: 0 auto;
}